<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>comment</title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="css/mui.min.css">
	<link rel="stylesheet" href="css/style.css">
	<!-- 字体图标 -->
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_259571_jmbdwkgo4etdquxr.css">
</head>
<body>
	<div class="layout orders-layout article-layout">
		<nav class="mui-bar mui-bar-tab">
				<a class="mui-tab-item mui-active" href="#foodDrink">
					<span class="mui-tab-label">Food&Drink</span>
				</a>
				<a class="mui-tab-item" href="#ticketing">
					<span class="mui-tab-label">Ticketing</span>
				</a>
				<a class="mui-tab-item" href="#deals">
					<span class="mui-tab-label">Deals</span>
				</a>
				<a class="mui-tab-item" href="#coupons">
					<span class="mui-tab-label">Coupons</span>
				</a>
			</nav>
			<div class="mui-content orders-content">
				<div id="foodDrink" class="mui-control-content mui-active">
					<ul class="mui-table-view result-ul">
						<li class="mui-table-view-cell">
							<a href="#">
								<img class="list-li-img" src="images/prodeuctdemo.png">
								<div class="product-list-info">
									<p>itemitemitemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemitemitemitemitemitem</p>
									<span>2017-10-24</span>
								</div>
							</a>
						</li>
						<li class="mui-table-view-cell">
							<a href="#">
								<img class="list-li-img" src="images/prodeuctdemo.png">
								<div class="product-list-info">
									<p>itemitemitemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemitemitemitemitemitem</p>
									<span>2017-10-24</span>
								</div>
							</a>
						</li>	
						<li class="mui-table-view-cell">
							<a href="#">
								<img class="list-li-img" src="images/prodeuctdemo.png">
								<div class="product-list-info">
									<p>itemitemitemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemitemitemitemitemitem</p>
									<span>2017-10-24</span>
								</div>
							</a>
						</li>		
					</ul>
				</div>
				<div id="ticketing" class="mui-control-content">
					<ul class="mui-table-view result-ul">
						<li class="mui-table-view-cell">
							<a href="#">
								<img class="list-li-img" src="images/prodeuctdemo.png">
								<div class="product-list-info">
									<p>itemitemitemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemitemitemitemitemitem</p>
									<span>2017-10-24</span>
								</div>
							</a>
						</li>
						<li class="mui-table-view-cell">
							<a href="#">
								<img class="list-li-img" src="images/prodeuctdemo.png">
								<div class="product-list-info">
									<p>itemitemitemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemitemitemitemitemitem</p>
									<span>2017-10-24</span>
								</div>
							</a>
						</li>	
						<li class="mui-table-view-cell">
							<a href="#">
								<img class="list-li-img" src="images/prodeuctdemo.png">
								<div class="product-list-info">
									<p>itemitemitemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemitemitemitemitemitem</p>
									<span>2017-10-24</span>
								</div>
							</a>
						</li>	
						<li class="mui-table-view-cell">
							<a href="#">
								<img class="list-li-img" src="images/prodeuctdemo.png">
								<div class="product-list-info">
									<p>itemitemitemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemitemitemitemitemitem</p>
									<span>2017-10-24</span>
								</div>
							</a>
						</li>	
					</ul>
				</div>
				<div id="deals" class="mui-control-content">
					<ul class="mui-table-view result-ul">
						<li class="mui-table-view-cell">
							<a href="#">
								<img class="list-li-img" src="images/prodeuctdemo.png">
								<div class="product-list-info">
									<p>itemitemitemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemitemitemitemitemitem</p>
									<span>2017-10-24</span>
								</div>
							</a>
						</li>
						<li class="mui-table-view-cell">
							<a href="#">
								<img class="list-li-img" src="images/prodeuctdemo.png">
								<div class="product-list-info">
									<p>itemitemitemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemitemitemitemitemitem</p>
									<span>2017-10-24</span>
								</div>
							</a>
						</li>	
						<li class="mui-table-view-cell">
							<a href="#">
								<img class="list-li-img" src="images/prodeuctdemo.png">
								<div class="product-list-info">
									<p>itemitemitemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemitemitemitemitemitem</p>
									<span>2017-10-24</span>
								</div>
							</a>
						</li>		
					</ul>
				</div>
				<div id="coupons" class="mui-control-content">
					<ul class="mui-table-view result-ul">
						<li class="mui-table-view-cell">
							<a href="#">
								<img class="list-li-img" src="images/prodeuctdemo.png">
								<div class="product-list-info">
									<p>itemitemitemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemitemitemitemitemitem</p>
									<span>2017-10-24</span>
								</div>
							</a>
						</li>
						<li class="mui-table-view-cell">
							<a href="#">
								<img class="list-li-img" src="images/prodeuctdemo.png">
								<div class="product-list-info">
									<p>itemitemitemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemitemitemitemitemitem</p>
									<span>2017-10-24</span>
								</div>
							</a>
						</li>	
								
					</ul>
				</div>
			</div>
	</div>
	<script src="js/mui.min.js"></script>
	<script>
		
	</script>
</body>
</html>