<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="../static/css/mui.min.css">
	<link rel="stylesheet" href="../static/css/swiper.min.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/mui.picker.all.css"/>
	<link rel="stylesheet" type="text/css" href="../static/css/mui.poppicker.css"/>
	<link rel="stylesheet" href="../static/css/style.css">
	<!-- 字体图标 -->
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_259571_yqwj8mnylwwdygb9.css">
</head>
<body>
	
	
	
	<div class="layout home-layout" >
			<nav class="mui-bar mui-bar-tab">
				<a class="mui-tab-item mui-active" href="./home-page.html">
					<span class="mui-icon iconfont icon-shanghu1"></span>
					<span class="mui-tab-label">Home</span>
				</a>
				<a class="mui-tab-item" href="./cart.html">
					<span class="mui-icon iconfont icon-gouwuche"><span class="mui-badge">5</span></span>
					<span class="mui-tab-label">Cart</span>
				</a>
				<a class="mui-tab-item" href="./me.html">
					<span class="mui-icon iconfont icon-me"></span>
					<span class="mui-tab-label">Me</span>
				</a>
				<a class="mui-tab-item" href="./more.html">
					<span class="mui-icon iconfont icon-iconfonthome"></span>
					<span class="mui-tab-label">More</span>
				</a>
			</nav>
			<div class="home-search-group">
				<div class="clearfix">
					<span id='showUserPicker'>All <i class="fr iconfont icon-xiangxiajiantou"></i></span>
					<input id="searchInput" class="searchInput" type="text" placeholder="Search"/>
					<i class="iconfont icon-sousuo"></i>
				</div>
			</div>
			<div id="searchBg" class="search-bg"></div>
			<span id="backBtn" class="iconfont icon-fanhuidingbu"></span>
			
			<div class="home-mask home-mask1">
				<div class="home-mask-form">
					<p>Please complete the imformation</p>
					<div class="login-phonenumber">
						<input id="phoneNumber" type="text" placeholder="Enter phone number">
						<button id="getCode" type="button" class="mui-btn">Send Code</button>
					</div>
					<div class="login-code">
						<input id="code" type="text" placeholder="Enter verification code " />
					</div>
					<div class="login-email">
						<input id="code" type="text" placeholder="Email address" />
					</div>
					<div class="login-btn">
						<button type="button" id="loginBtn" class="mui-btn">Submit</button>
					</div>
				</div>
			</div>
			<div class="home-mask home-mask2">
				<div class="home-mask-form">
					<p>Please complete the imformation</p>
					<div class="login-email">
						<input id="code" type="text" placeholder="Email address" />
					</div>
					<div class="login-btn">
						<button type="button" id="loginBtn" class="mui-btn">Submit</button>
					</div>
				</div>
			</div>
			
			<div class="mui-content">
				
				<!-- 首页轮播开始 -->
				<div class="home-carousel">
				 	<div class="swiper-container home-banner-carousel">
				        <div class="swiper-wrapper">
				            <div class="swiper-slide"><a href="./product-detail.html"><img src="../static/images/lb.jpg" alt=""></a></div>
				            <div class="swiper-slide"><a href="#"><img src="../static/images/lb.jpg" alt=""></a></div>
				            <div class="swiper-slide"><a href="#"><img src="../static/images/lb.jpg" alt=""></a></div>
				            <div class="swiper-slide"><a href="#"><img src="../static/images/lb.jpg" alt=""></a></div>
			    		</div>
		    			<div class="swiper-pagination"></div>
					</div>
				<!-- 首页轮播结束 -->
				<div class="home-section-box">
					<div class="section-head section-head-one">
						<span class="section-head-text">Featured shops</span>
						<div class="home-line"></div>
						<a href="#" class="home-more">More</a>
					</div>
					<div class="home-product-carousel-box">
						<div class="swiper-container home-product-carousel">
					        <div class="swiper-wrapper">
					            <div class="swiper-slide product-lists">
					            		<a href="./product-detail.html">
					            			<img src="../static/images/products.jpg" alt="" />
										<p>adidas</p>
					            		</a>
					            </div>
					            <div class="swiper-slide product-lists">
					            		<a href="#">
					            			<img src="../static/images/products.jpg" alt="" />
										<p>adidas</p>
					            		</a>
					            </div>
					            <div class="swiper-slide product-lists">
					            		<a href="#">
					            			<img src="../static/images/products.jpg" alt="" />
										<p>adidas</p>
					            		</a>
					            </div>
					            <div class="swiper-slide product-lists">
					            		<a href="#">
					            			<img src="../static/images/products.jpg" alt="" />
										<p>adidas</p>
					            		</a>
					            </div>
					            <div class="swiper-slide product-lists">
					            		<a href="#">
					            			<img src="../static/images/products.jpg" alt="" />
										<p>adidas</p>
					            		</a>
					            </div>
					            <div class="swiper-slide product-lists">
					            		<a href="#">
					            			<img src="../static/images/products.jpg" alt="" />
										<p>adidas</p>
					            		</a>
					            </div>
					            
					        </div>
					        <!-- Add Pagination -->
					        <div class="swiper-scrollbar"></div>
					    </div>
					</div>
				</div>
				<div class="home-ad">
					<a href="#">
						<img src="images/home-ad1.jpg" alt="" />
					</a>
				</div>
				<div class="home-section-box">
					<div class="section-head">
						<span class="section-head-text">Featured products</span>
						<div class="home-line home-line-two"></div>
						<a href="#" class="home-more">More</a>
					</div>
					<div class="home-product-carousel-box home-product-carousel-box2">
						<div class="swiper-container home-product-carousel">
					        <div class="swiper-wrapper">
					            <div class="swiper-slide product-lists">
					            		<a href="#">
					            			<img src="../static/images/products.jpg" alt="" />
											<p>adidasadidasaddidasadidasaddidasadidasaddidasadidasaddidasadidasadidasadidasadidasadidasadidas</p>
											<p>￥430.50</p>
											<p>￥349.50</p>
					            		</a>
					            </div>
					            <div class="swiper-slide product-lists">
					            		<a href="#">
					            			<img src="../static/images/products.jpg" alt="" />
											<p>adidas</p>
											<p>￥430.50</p>
											<p>￥349.50</p>
					            		</a>
					            </div>
					            <div class="swiper-slide product-lists">
					            		<a href="#">
					            			<img src="../static/images/products.jpg" alt="" />
											<p>adidas</p>
											<p>￥430.50</p>
											<p>￥349.50</p>
					            		</a>
					            </div>
					            <div class="swiper-slide product-lists">
					            		<a href="#">
					            			<img src="../static/images/products.jpg" alt="" />
											<p>adidas</p>
											<p>￥430.50</p>
											<p>￥349.50</p>
					            		</a>
					            </div>
					            <div class="swiper-slide product-lists">
					            		<a href="#">
					            			<img src="../static/images/products.jpg" alt="" />
											<p>adidas</p>
											<p>￥430.50</p>
											<p>￥349.50</p>
					            		</a>
					            </div>
					            <div class="swiper-slide product-lists">
					            		<a href="#">
					            			<img src="../static/images/products.jpg" alt="" />
											<p>adidas</p>
											<p>￥430.50</p>
											<p>￥349.50</p>
					            		</a>
					            </div>
					            
					        </div>
					        <!-- Add Pagination -->
					        <div class="swiper-scrollbar"></div>
					    </div>
					</div>
				</div>
				<div class="home-ad">
					<a href="#">
						<img src="../static/images/home-ad2.jpg" alt="" />
					</a>
				</div>
				<div class="home-section-box">
					<div class="section-head">
						<span class="section-head-text">Editor’s pick</span>
						<div class="home-line home-line-three"></div>
						<a href="#" class="home-more">More</a>
					</div>
					<ul class="mui-table-view result-ul home-pick-list">
						<li class="mui-table-view-cell">
							<a href="#">
								<img class="list-li-img" src="../static/images/home-product1.jpg">
								<div class="product-list-info">
									<p>itemitemitmitemitemitemitemitemitmitemitemitemitemitemitmitemitemitemitemitemitmitemitemitem</p>
									<em>2017-10-24</em>
								</div>
							</a>
						</li>
						<li class="mui-table-view-cell">
							<a href="#">
								<img class="list-li-img" src="../static/images/home-product2.jpg">
								<div class="product-list-info">
									<p>itemitemitmitemitemitemitemitemitmitemitemitemitemitemitmitemitemitemitemitemitmitemitemitem</p>
									<em>2017-10-24</em>
								</div>
							</a>
						</li>	
						<li class="mui-table-view-cell">
							<a href="#">
								<img class="list-li-img" src="../static/images/home-product3.jpg">
								<div class="product-list-info">
									<p>itemitemitmitemitemitemitemitemitmitemitemitemitemitemitmitemitemitemitemitemitmitemitemitem</p>
									<em>2017-10-24</em>
								</div>
							</a>
						</li>	
					</ul>
				</div>
				<div class="home-ad">
					<a href="me.html">
						<img src="../static/images/home-ad3.jpg" alt="" />
					</a>
				</div>
				<div class="classification">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell">
							<a href="./cart-empty.html">
								<img src="../static/images/home-class1.jpg" alt="" />
							</a>
						</li>
						<li class="mui-table-view-cell">
							<a href="./cart.html">
								<img src="../static/images/home-class2.jpg" alt="" />
							</a>
						</li>
						<li class="mui-table-view-cell">
							<a href="#">
								<img src="../static/images/home-class3.jpg" alt="" />
							</a>
						</li>
						<li class="mui-table-view-cell">
							<a href="#">
								<img src="../static/images/home-class4.png" alt="" />
							</a>
						</li>
					</ul>
				</div>
				
			</div>
		</div>
	</div>

	<script src="../static/js/mui.min.js"></script>
	<script src="../static/js/mui.picker.min.js"></script>
	<script src="../static/js/mui.poppicker.js"></script>
	<script src="../static/js/swiper.min.js"></script>
	<script src="../api/homeIndex.js"></script>
</body>
</html>