<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../static/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="http://at.alicdn.com/t/font_259571_nrqiid881b4holxr.css">
		<link rel="stylesheet" href="../static/css/style.css" />
	</head>

	<body>
		<div class="layout layout-login">
			<div class="mui-content">
				<div class="login-page">
					<div class="logo-img">
						<i class="logo-svg"></i>
					</div>
					<div class="login-form">
						<div class="login-tel clearfix">
							<input id="phoneNumber" type="text" placeholder="Enter phone number" />
							<button id="getCode" type="button" class="mui-btn">Send Code</button>
							<!-- <input id="getCode" class="mui-btn" type="button" value="Send Code"> -->
						</div>
						<div class="login-code">
							<input id="code" type="text" placeholder="Enter verification code " />
						</div>
						<div class="login-btn">
							<button type="button" id="loginBtn" class="mui-btn">LOG IN</button>
						</div>
					</div>

					<div class="weixin-login">
						<div class="title">
							<span>Wechat Login</span>
							<div class="line"></div>
						</div>
						<div class="weixin-login-btn">
							<a href="http://page.thatsmags.com/WebAccess/get-weixin-code.html?appid=wx06e97f4ed4ac07e3&scope=snsapi_userinfo&state=STATE&redirect_uri=http%3A%2F%2Fmall.thatsmags.com%2Fmobile%2Flogin.html">
								<i id="wechatLogin" class="iconfont icon-weixin1"></i>
							</a>
								
							
							
						</div>
					</div>
				</div> 
			</div>
		</div>
		<script src="../static/js/mui.min.js"></script>
		<script src="../static/js/jquery.min.js"></script>
		<script src="../api/login.js"></script>
	</body>

</html>