<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>That's Mart</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../static/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../static/css/style.css">
	</head>
	<body>
		<div class="layout orders-layout">
			<nav class="mui-bar mui-bar-tab">
				<a class="mui-tab-item mui-active" href="#all">
					<span class="mui-tab-label">All</span>
				</a>
				<a class="mui-tab-item" href="#unpaid">
					<span class="mui-tab-label">Unpaid</span>
				</a>
				<a class="mui-tab-item" href="#paid">
					<span class="mui-tab-label">Paid</span>
				</a>
				<a class="mui-tab-item" href="#deliverd">
					<span class="mui-tab-label">Deliverd</span>
				</a>
				<a class="mui-tab-item" href="#review">
					<span class="mui-tab-label">Review</span>
				</a>
			</nav>
			<div class="mui-content orders-content">
				<div id="all" class="mui-control-content mui-active">
					<div class="orders-list">
						<div class="title">
							Bluewater <span class="mui-icon mui-icon-arrowright"></span> <span class="status">Unpaid</span>
						</div>
						<div class="product-info clearfix">
							<img src="images/ordersimg.jpg" alt="">
							<div class="pro-det-info clearfix">
								<div class="text-info">
									<p>Shanghai Restaurant Review: Kun Thai</p>
									<p>Color Category: Blue</p>
									<p>Size: L</p>
								</div>
								<div class="number-info">
									<p>¥ 299</p>
									<p>¥ 382</p>
									<p>x 1</p>
								</div>
							</div>
							<div class="pro-bottom-info">
								<p>Total: ¥ <span>304.00</span> (Shipping:¥<span>5.00</span>)</p>
								<p><span>To Pay</span><span>Cancel Order</span></p>
							</div>
						</div>
					</div>
					<div class="orders-list">
						<div class="title">
							Bluewater <span class="mui-icon mui-icon-arrowright"></span> <span class="status">The transaction closed</span>
						</div>
						<div class="product-info clearfix">
							<img src="../static/images/ordersimg.jpg" alt="">
							<div class="pro-det-info clearfix">
								<div class="text-info">
									<p>Shanghai Restaurant Review: Kun Thai</p>
									<p>Color Category: Blue</p>
									<p>Size: L</p>
								</div>
								<div class="number-info">
									<p>¥ 299</p>
									<p>¥ 382</p>
									<p>x 1</p>
								</div>
							</div>
							<div class="pro-bottom-info">
								<p>Total: ¥ <span>304.00</span> (Shipping:¥<span>5.00</span>)</p>
							</div>
						</div>
					</div>
					<div class="orders-list">
						<div class="title">
							Bluewater <span class="mui-icon mui-icon-arrowright"></span> <span class="status">Paid</span>
						</div>
						<div class="product-info clearfix">
							<img src="../static/images/ordersimg.jpg" alt="">
							<div class="pro-det-info clearfix">
								<div class="text-info">
									<p>Shanghai Restaurant Review: Kun Thai</p>
									<p>Color Category: Blue</p>
									<p>Size: L</p>
								</div>
								<div class="number-info">
									<p>¥ 299</p>
									<p>¥ 382</p>
									<p>x 1</p>
								</div>
							</div>
							<div class="pro-bottom-info paid">
								<p>Total: ¥ <span>304.00</span> (Shipping:¥<span>5.00</span>)</p>
								<p><span></span><span>Purchase Details</span></p>
							</div>
						</div>
					</div>
					<div class="orders-list">
						<div class="title">
							Bluewater <span class="mui-icon mui-icon-arrowright"></span> <span class="status">Deliverd</span>
						</div>
						<div class="product-info clearfix">
							<img src="../static/images/ordersimg.jpg" alt="">
							<div class="pro-det-info clearfix">
								<div class="text-info">
									<p>Shanghai Restaurant Review: Kun Thai</p>
									<p>Color Category: Blue</p>
									<p>Size: L</p>
								</div>
								<div class="number-info">
									<p>¥ 299</p>
									<p>¥ 382</p>
									<p>x 1</p>
								</div>
							</div>
							<div class="pro-bottom-info">
								<p>Total: ¥ <span>304.00</span> (Shipping:¥<span>5.00</span>)</p>
								<p><span>Comment</span><span>Purchase Details</span></p>
							</div>
						</div>
					</div>
					<div class="orders-list">
						<div class="title">
							Bluewater <span class="mui-icon mui-icon-arrowright"></span> <span class="status">Unpaid</span>
						</div>
						<div class="product-info clearfix">
							<img src="../static/images/ordersimg.jpg" alt="">
							<div class="pro-det-info clearfix">
								<div class="text-info">
									<p>Shanghai Restaurant Review: Kun Thai</p>
									<p>Color Category: Blue</p>
									<p>Size: L</p>
								</div>
								<div class="number-info">
									<p>¥ 299</p>
									<p>¥ 382</p>
									<p>x 1</p>
								</div>
							</div>
							<div class="pro-bottom-info">
								<p>Total: ¥ <span>304.00</span> (Shipping:¥<span>5.00</span>)</p>
								<p><span>To Pay</span><span>Cancel Order</span></p>
							</div>
						</div>
					</div>
					<div class="orders-list">
						<div class="title">
							Bluewater <span class="mui-icon mui-icon-arrowright"></span> <span class="status">Paid</span>
						</div>
						<div class="product-info clearfix">
							<img src="../static/images/ordersimg.jpg" alt="">
							<div class="pro-det-info clearfix">
								<div class="text-info">
									<p>Shanghai Restaurant Review: Kun Thai</p>
									<p>Color Category: Blue</p>
									<p>Size: L</p>
								</div>
								<div class="number-info">
									<p>¥ 299</p>
									<p>¥ 382</p>
									<p>x 1</p>
								</div>
							</div>
							<div class="pro-bottom-info paid">
								<p>Total: ¥ <span>304.00</span> (Shipping:¥<span>5.00</span>)</p>
								<p><span></span><span>Purchase Details</span></p>
							</div>
						</div>
					</div>
					<div class="orders-list">
						<div class="title">
							Bluewater <span class="mui-icon mui-icon-arrowright"></span> <span class="status">Deliverd</span>
						</div>
						<div class="product-info clearfix">
							<img src="../static/images/ordersimg.jpg" alt="">
							<div class="pro-det-info clearfix">
								<div class="text-info">
									<p>Shanghai Restaurant Review: Kun Thai</p>
									<p>Color Category: Blue</p>
									<p>Size: L</p>
								</div>
								<div class="number-info">
									<p>¥ 299</p>
									<p>¥ 382</p>
									<p>x 1</p>
								</div>
							</div>
							<div class="pro-bottom-info">
								<p>Total: ¥ <span>304.00</span> (Shipping:¥<span>5.00</span>)</p>
								<p><span>Comment</span><span>Purchase Details</span></p>
							</div>
						</div>
					</div>
					<div class="orders-list">
						<div class="title">
							Bluewater <span class="mui-icon mui-icon-arrowright"></span> <span class="status">Unpaid</span>
						</div>
						<div class="product-info clearfix">
							<img src="../static/images/ordersimg.jpg" alt="">
							<div class="pro-det-info clearfix">
								<div class="text-info">
									<p>Shanghai Restaurant Review: Kun Thai</p>
									<p>Color Category: Blue</p>
									<p>Size: L</p>
								</div>
								<div class="number-info">
									<p>¥ 299</p>
									<p>¥ 382</p>
									<p>x 1</p>
								</div>
							</div>
							<div class="pro-bottom-info">
								<p>Total: ¥ <span>304.00</span> (Shipping:¥<span>5.00</span>)</p>
								<p><span>To Pay</span><span>Cancel Order</span></p>
							</div>
						</div>
					</div>
					<div class="orders-list">
						<div class="title">
							Bluewater <span class="mui-icon mui-icon-arrowright"></span> <span class="status">Paid</span>
						</div>
						<div class="product-info clearfix">
							<img src="../static/images/ordersimg.jpg" alt="">
							<div class="pro-det-info clearfix">
								<div class="text-info">
									<p>Shanghai Restaurant Review: Kun Thai</p>
									<p>Color Category: Blue</p>
									<p>Size: L</p>
								</div>
								<div class="number-info">
									<p>¥ 299</p>
									<p>¥ 382</p>
									<p>x 1</p>
								</div>
							</div>
							<div class="pro-bottom-info paid">
								<p>Total: ¥ <span>304.00</span> (Shipping:¥<span>5.00</span>)</p>
								<p><span></span><span>Purchase Details</span></p>
							</div>
						</div>
					</div>
					<div class="orders-list">
						<div class="title">
							Bluewater <span class="mui-icon mui-icon-arrowright"></span> <span class="status">Deliverd</span>
						</div>
						<div class="product-info clearfix">
							<img src="../static/images/ordersimg.jpg" alt="">
							<div class="pro-det-info clearfix">
								<div class="text-info">
									<p>Shanghai Restaurant Review: Kun Thai</p>
									<p>Color Category: Blue</p>
									<p>Size: L</p>
								</div>
								<div class="number-info">
									<p>¥ 299</p>
									<p>¥ 382</p>
									<p>x 1</p>
								</div>
							</div>
							<div class="pro-bottom-info">
								<p>Total: ¥ <span>304.00</span> (Shipping:¥<span>5.00</span>)</p>
								<p><span>Comment</span><span>Purchase Details</span></p>
							</div>
						</div>
					</div>
				</div>
				<div id="unpaid" class="mui-control-content">
					<div class="orders-list">
						<div class="title">
							Bluewater <span class="mui-icon mui-icon-arrowright"></span> <span class="status">Unpaid</span>
						</div>
						<div class="product-info clearfix">
							<img src="../static/images/ordersimg.jpg" alt="">
							<div class="pro-det-info clearfix">
								<div class="text-info">
									<p>Shanghai Restaurant Review: Kun Thai</p>
									<p>Color Category: Blue</p>
									<p>Size: L</p>
								</div>
								<div class="number-info">
									<p>¥ 299</p>
									<p>¥ 382</p>
									<p>x 1</p>
								</div>
							</div>
							<div class="pro-bottom-info">
								<p>Total: ¥ <span>304.00</span> (Shipping:¥<span>5.00</span>)</p>
								<p><span>To Pay</span><span>Cancel Order</span></p>
							</div>
						</div>
					</div>
				</div>
				<div id="paid" class="mui-control-content">
					<div class="orders-list">
						<div class="title">
							Bluewater <span class="mui-icon mui-icon-arrowright"></span> <span class="status">Paid</span>
						</div>
						<div class="product-info clearfix">
							<img src="../static/images/ordersimg.jpg" alt="">
							<div class="pro-det-info clearfix">
								<div class="text-info">
									<p>Shanghai Restaurant Review: Kun Thai</p>
									<p>Color Category: Blue</p>
									<p>Size: L</p>
								</div>
								<div class="number-info">
									<p>¥ 299</p>
									<p>¥ 382</p>
									<p>x 1</p>
								</div>
							</div>
							<div class="pro-bottom-info paid">
								<p>Total: ¥ <span>304.00</span> (Shipping:¥<span>5.00</span>)</p>
								<p><span></span><span>Purchase Details</span></p>
							</div>
						</div>
					</div>
				
				</div>
				<div id="deliverd" class="mui-control-content">
					<div class="orders-list">
						<div class="title">
							Bluewater <span class="mui-icon mui-icon-arrowright"></span> <span class="status">Deliverd</span>
						</div>
						<div class="product-info clearfix">
							<img src="../static/images/ordersimg.jpg" alt="">
							<div class="pro-det-info clearfix">
								<div class="text-info">
									<p>Shanghai Restaurant Review: Kun Thai</p>
									<p>Color Category: Blue</p>
									<p>Size: L</p>
								</div>
								<div class="number-info">
									<p>¥ 299</p>
									<p>¥ 382</p>
									<p>x 1</p>
								</div>
							</div>
							<div class="pro-bottom-info">
								<p>Total: ¥ <span>304.00</span> (Shipping:¥<span>5.00</span>)</p>
								<p><span>Comment</span><span>Purchase Details</span></p>
							</div>
						</div>
					</div>
				</div>
				<div id="review" class="mui-control-content">
					<div class="orders-list">
						<div class="title">
							Bluewater <span class="mui-icon mui-icon-arrowright"></span> <span class="status">The transaction closed</span>
						</div>
						<div class="product-info clearfix">
							<img src="../static/images/ordersimg.jpg" alt="">
							<div class="pro-det-info clearfix">
								<div class="text-info">
									<p>Shanghai Restaurant Review: Kun Thai</p>
									<p>Color Category: Blue</p>
									<p>Size: L</p>
								</div>
								<div class="number-info">
									<p>¥ 299</p>
									<p>¥ 382</p>
									<p>x 1</p>
								</div>
							</div>
							<div class="pro-bottom-info">
								<p>Total: ¥ <span>304.00</span> (Shipping:¥<span>5.00</span>)</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../static/js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: false
			});
		</script>
	</body>

</html>