<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Order-confirm</title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="css/mui.min.css">
	<link rel="stylesheet" href="css/style.css">
	<!-- 字体图标 -->
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_259571_py0uecagdjrcz0k9.css">
	<style type="text/css">
		#list {
			/*避免导航边框和列表背景边框重叠，看起来像两条边框似得；*/
			margin-top: -1px;
		}
	</style>
</head>
<body>
	<div class="layout home-layout">
		<header id="header" class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">order-confirm</h1>
		</header>
		<div class="mui-content">
			<div class="select-address order-con">
				<div class="order-add">
					<p>Amanda</p>
					<p>1365374988</p>
					<span>Room 305-306,Building 2,No.169 MengZi Rode,Shanghai</span>
				</div>
				<a href="#" class="change-add">Change Address</a>
				<img src="images/letter.jpg" alt="" class="letter">
			</div>		
			<ul class="mui-table-view result-ul">
				<li class="mui-table-view-cell mui-table-view-orders mui-table-view-confirm">
					<a href="#">
						<img class="list-li-img" src="images/prodeuctdemo.png">
						<div class="product-list-info">
							<p>itemitemitemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemitemitemitemitemitem</p>
							<span class="product-list-price">￥100</span>
							<span class="product-list-number">x1</span>
						</div>
					</a>
					<div class="postage-packing">
						<span class="post-left">Postage&Packing</span>
						<span class="post-right">￥<span class="postage-number">5.00</span></span>
					</div>	
				</li>
				<li class="mui-table-view-cell mui-table-view-orders mui-table-view-confirm">
					<a href="#">
						<img class="list-li-img" src="images/prodeuctdemo.png">
						<div class="product-list-info">
							<p>itemitemitemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemitemitemitemitemitem</p>
							<span class="product-list-price">￥100</span>
							<span class="product-list-number">x1</span>
						</div>
					</a>
					<div class="postage-packing">
						<span class="post-left">Postage&Packing</span>
						<span class="post-right">￥<span class="postage-number">5.00</span></span>
					</div>	
				</li>	
				<li class="mui-table-view-cell mui-table-view-orders mui-table-view-confirm">
					<a href="#">
						<img class="list-li-img" src="images/prodeuctdemo.png">
						<div class="product-list-info">
							<p>itemitemitemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemiteemitemitemitemitemitemitemitemitem</p>
							<span class="product-list-price">￥100</span>
							<span class="product-list-number">x1</span>
						</div>
					</a>
					<div class="postage-packing">
						<span class="post-left">Postage&Packing</span>
						<span class="post-right">￥<span class="postage-number">5.00</span></span>
					</div>	
				</li>	
			</ul>

			<footer class="footer-order">
				<div class="total">Total:￥<span class="sumNumber"></span></div>
				<div class="submit">Submit</div>
			</footer>
		</div>
	</div>


	<script src="js/mui.min.js"></script>
	<script>

	    mui.init({
			swipeBack:true //启用右滑关闭功能
		});

		mui('.mui-bar-tab').on('tap','a',function(){
            window.location.href = this.getAttribute('href');
        });
					
	</script>
</body>
</html>